<div class="session-box">
  <div class="session-heading">
    <h1>InstagramClone</h1>
  </div>
  <div class="session-form">
    <%= form_with(scope: :session,url: sessions_path, local: true) do |f| %>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
      </div>
      <%= f.submit "ログイン",class: "login_button" %>
    <% end %>
  </div>
</div>
<div class="session-box">
  <p>アカウントをお持ちでないですか？<%= link_to "登録する", new_user_path %></p>
</div>