<div>
  <h1>ログイン</h1>
</div>
<div>
  <%= form_with(scope: :session,url: sessions_path, local: true) do |f| %>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>