<% if blog.errors.present? %>
  <% blog.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %> 
<div class="new-edit-box">
  <div class="new-edit-form">
    <%= form_with(model: blog, local: true, url: choose_new_or_edit ) do |f| %>
      <div class="form-group">
        <%= f.label :image, class: "form-title" %>
        <div>
          <% if @blog.image.attached? %>
            <%= image_tag @blog.image, class: "new-edit-image" %>
            <%= f.hidden_field :image, value: f.object.image.signed_id %>
          <% end %>
        </div>
        <%= f.file_field :image, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content, class: "form-title" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div>
        <%= f.submit "投稿", class: "new-edit-button" %>
      </div>
    <% end %> 
  </div>
</div>