<% if blog.errors.present? %>
  <% blog.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %> 
<%= form_with(model: blog, local: true) do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "投稿" %>
  </div>
<% end %>