<div>
  <h1>投稿確認</h1>
</div> 
<div class="confirm-box">
  <div class="confirm-form">
    <%= form_with(model: @blog, local: true) do |f| %>
      <% if @blog.image.attached? %>
        <div class="form-group">
          <div><%= f.label :image, class: "form-title" %></div>
          <%= image_tag @blog.image, class: "form-image" %>
          <%= f.hidden_field :image, value: f.object.image.signed_id %>
        </div>
      <% end %>
      <div class="form-group">
        <div><%= f.label :content, class: "form-title" %></div>
        <div class="confirm-content"><%= @blog.content %></div>
        <%= f.hidden_field :content %>
      </div>
      <div class="confirm-button">
        <div>
          <%= f.submit "投稿", class: "post-button" %>
        </div>
        <div>
          <%= f.submit "戻る", name: "back", class: "back-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>