<div>
  <div>
    <h1>投稿一覧</h1>
  </div>
  <div>
    <%= link_to "新規投稿", new_blog_path %>
  </div>
  <% @blogs.each do |blog| %>
    <div>
      <div>
        <div>
          <%= image_tag blog.user.profile_image if blog.user.profile_image.attached? %>
        </div>
        <div>
          <%= blog.user.name %>
        </div>
      </div>
      <div>
        <%= image_tag blog.image if blog.image.attached? %>
      </div>
      <div>
        <div></div>
        <div><%= link_to "詳細", blog_path(blog.id) %></div>
        <div><%= link_to "編集", edit_blog_path(blog.id) %></div>
        <div><%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
      </div>
      <div>
        <%= blog.content %>
      </div>
      <div>
        <%= blog.created_at.strftime("%Y年%m月%d日 %H:%M") %>
      </div>
    </div>
  <% end %>
</div>


