<div>
  <div>
    <h1>投稿の詳細</h1>
  </div>
  <div>
    <%= link_to "戻る", blogs_path %>
  </div>
  <div>
    <p>投稿者</p>
  </div>
  <div>
    <p><%= @blog.user.name %></p>
  </div>
  <div>
    <p>内容</p>
  </div>
  <div>
    <%= image_tag @blog.image if @blog.image.attached? %>
  </div>
  <div>
    <%= @blog.content %>
  </div>
  <div>
    <p>投稿日時</p>
  </div>
  <div>
    <%= @blog.created_at.strftime("%Y年%m月%d日 %H:%M") %>
  </div>
  <div>
    <p>更新日時</p>
  </div>
  <div>
    <%= @blog.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
  </div>
</div>
<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to "お気に入り解除する", favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <%= link_to "お気に入りする", favorites_path(blog_id: @blog.id), method: :post %>
  <% end %>
<% end %>