<% if user.errors.present? %>
  <% user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>
<div class="user-box">
<%= form_with(model: user, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>
  </div>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>