<% if @user.errors.present? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>
<div class="user-box">
  <div class="user-heading">
    <h1>InstagramClone</h1>
  </div>
  <div class="user-form">
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "form-title" %>
        <%= f.text_field :name, class: "form-control", value: @user.name %>
      </div>
      <div class="form-group">
        <%= f.label :profile_image, class: "form-title" %>
        <%= f.file_field :profile_image, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :comment, class: "form-title" %>
        <%= f.text_area :comment, class: "form-control", value: @user.comment %>
      </div>
      <%= f.submit "登録", class: "user-button" %>
    <% end %>
  </div>
</div>