<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="app-title navbar navbar-expand-md fixed-top navbar-light" style="background-color: white;">
      <div class="navbar-brand">InstagramClone</div>
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "アカウント", user_path(current_user.id), class:"nav-link" %></li>
          <li class="nav-item"><%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "サインアップ", new_user_path, class:"nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_session_path, class:"nav-link" %></li>
        <% end %>
      </ul>
    </header>
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash.notice %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>Copyright © 2020 HOTTA INC. All rights reserved.</p>
    </footer>
  </body>
</html>
